.breadcrum {
  display: flex;
  flex-direction: row;
  margin: 0px 50px;
  font-weight: 600;
  padding: 2px;
  gap: 20px;
}

.breadcrum img {
  margin-top: 5px;
  width: 15px;
  height: 15px;
}
